.myForm{
    display: flex;
    /* flex-direction: row; */
    /* border: solid red 1px; */
    margin: 10px auto;
    font-size: 18px;
    justify-content: space-between;
}
#main_div{
    border: solid black 1px;
    display: flex;
    justify-content: space-around;
}
table{
    border-collapse:collapse ;
    width: 100%;
}
td,th{
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    font-size: 20px;
}
input,select{
    width: 59%;

}
.mainDiv{
    border: solid red 1px;
    width: 25%;
    font-size: 18px;
}
.Submitbutton{
    font-size: 18px;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 0px;
}
.heading{
    text-align: center;
}
#rightDiv{
    /* border: solid red 1px; */
    width: 70%;
}