.nav{
    display: flex;
    justify-content: space-around;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap :20px;
    margin: auto 5%;
    /* border:solid rebeccapurple 1px; */

}
.item{
    border: solid red 1px;
    text-align: center;
}
.item img{
    width: 100%;
}